page-home {
    background: green;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: white;
    opacity: 1;
}
.spinner-md-crescent circle {
    stroke: #f4f4f4;
}
